<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-04-16T20:19:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/gregolon/Work/Git/autolayout/SOS Autolayout.xcodeproj</string>
</dict>
</plist>
