/DerivedData
/Xojo Projects/iOS/My iOS App.debug.app.dSYM
/Xojo Projects/iOS/My iOS App.debug.ipa
/Xojo Projects/iOS/Packaging.log
/Xojo Projects/iOS/DistributionSummary.plist
/Xojo Projects/iOS/ExportOptions.plist
/Xojo Projects/macOS/Builds - macOS Constraints
