<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>My iOS App.debug.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BD7D141DDE4244E5F54D871C54DC52061A7C89CC</string>
				<key>dateExpires</key>
				<string>10/23/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD7D141DDE4244E5F54D871C54DC52061A7C89CC</string>
						<key>dateExpires</key>
						<string>10/23/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExtNameExtension.appex</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6JJNL5AF3</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H6JJNL5AF3.com.stretchedout.myapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>H6JJNL5AF3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>H6JJNL5AF3.com.stretchedout.myapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>My iOS App.debug.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>61dfcb73-c8fc-42cb-9a64-a5cbe0308e49</string>
				<key>dateExpires</key>
				<string>10/23/23</string>
				<key>name</key>
				<string>com.stretchedout.myapp dist profile</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H6JJNL5AF3</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
